

body {
  max-width: 750px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;

  .my-container {
    margin-top: 20px;
    padding: 20px;
    border-right: 1px solid silver;
    box-shadow: 0 0 10px 10px #D4D4D4;
    p {
      font-size: 14px;
    }
    .navbar {
      background-color: rgb(253, 0, 0) !important;
      opacity: 0.8;
    }
  }
  a.switch-button {
    color: rgb(77, 77, 128) !important;
  }
  .navbar-nav {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .title, .title-header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: rgb(253, 0, 0);
    opacity: 0.8;
    padding: 5px;
}
.title-header {
  text-align: left;
}

.alert {
  margin-top: 5px;
  display: none;
}

  label {
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    color: rgb(253, 0, 0);
    opacity: 0.8;
}
.workout ul {
    margin: 0;
    padding: 0;
    li {
        font-size: 10px;
    }
}
.list-workouts a.a_work {
  letter-spacing: 1px;
  font-size: 12px;
}
input, select, textarea {
    font-size: 4px;
    opacity: 0.9;
}
#name-workout, #exercises, #weight, #repeat, #sets, #recommendations {
  padding: 5px !important; 
  font-size: 10px;
}
#weight, #repeat, #sets {
  width: 80%;
}
#exercises option.e-name {
  font-size: 8px;
}
.exercise-2 {
  overflow: hidden;
}

.workout {
  padding-bottom: 15px;
}
  .yes-w {
    display: none;
  }
  .list-exercises {
    margin-left: 10px;
    ul li {
      font-size: 14px;
    }
  }
  
  

  .card {
    background: hsl(51, 100%, 50%) !important;
    opacity: 0.9;
    ul {
      padding-left: 8px;
    }
  }
}

.info-work {
  color: rgb(68, 0, 255) !important;
}
@import 'auth';