<% include ../layout/header.ejs %>
<div class="container my-container">
    <div class="alert alert-success" role="alert">
    </div>
    <div class="title">
        <h5>Створити тренування</h5>
    </div> 
    <form method="POST">
        <div class="form-group">
            <label for="name-workout">Назва тренування</label>
            <input type="text" class="form-control" id="name-workout" placeholder="Спина/плечі">
        </div>
        <div class="form-group ">
            <div class="exercises">
                <label for="exercises">Вправа</label>
                <select class="form-control" id="exercises"> 
                    <% for (var i = 0; i < exercises.length; i++) { %>
                        <option value="<%=exercises[i]._id %> <%=exercises[i].name %>"> 
                             <%=exercises[i].name %>
                        </option>
                    <% } %>
                </select>
            </div>
        </div>
        <div class="form-group d-flex justify-content-between align-items-end">
            <div class="weight">
                <label for="weight">Вага</label>
                <input type="number" id="weight" class="form-control" placeholder="20">
            </div>
            <div class="repeat">
                <label for="repeat">Повтори</label>
                <input type="number" id="repeat" class="form-control" placeholder="8-10">
            </div>
            <div class="sets">
                <label for="sets">Підходи</label>
                <input type="number" id="sets" class="form-control" placeholder="3">
            </div>
            <div class="add-btn">
                <button type="button" id="e-add" class="btn btn-outline-success">
                    Добавить
                </button>
            </div>
        </div>
        
        <div class="workout">
            <div class="title">
                Тренування
            </div>
            <div class="not-w text-info">
                Поки що Ви не додали вправ до тренування!
            </div>
            <div class="container">
                <div class="yes-w">
                <ul class="list-exercises text-info">
                </ul>
            </div>
            </div>
            
        </div>
        <div class="form-group">
            <label for="recommendations">Зауваження до тренування</label>
            <textarea class="form-control" id="recommendations" rows="3"></textarea>
        </div>
        <div class="form-group">
            <button id="save-w" class="btn btn-block btn-success">
                Зберегти тренування
            </button>
        </div>
    </form>
</div>
 

<% include ../layout/footer.ejs %>