<% include ../layout/header.ejs %>
    <div class="container my-container">
        <div class="card mt-1" style="width:100%;">
            <img src="/images/<%=exercise.group%>/<%=exercise.nameEng%>.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"><%-exercise.name%></h5>
                <p class="card-text"><%=exercise.description%></p>
            </div>
        </div>
    </div>
<% include ../layout/footer.ejs %>