<% include ../layout/header.ejs %>
<div class="container">
    <div class="title">
        Сторінка в процесі розробки. Вибачте за тимчасові незручності!
    </div>
</div>
    
<% include ../layout/footer.ejs %>