<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WORK</title>

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto+Slab&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= assetFingerprint('/stylesheets/styles.css') %>">
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-between">
                <% if(user) { %>
                    <div class="menu">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item active">
                                <a href="/create-workout" class="nav-link">Створити тренування <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item active">
                                <a href="/workouts" class="nav-link">Тренування</a>
                            </li>
                            <li class="nav-item active">
                                <a href="/exercises" class="nav-link">Вправи</a>
                            </li>
                            <li class="nav-item active">
                             <a href="/logout" class="nav-link">Вийти</a>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <% } %>

            <div class="logo">
                <a class="navbar-brand" href="#">
                    <img src="/images/logo.png" width="50" height="50" class="d-inline-block align-top">
                </a>
            </div>
            
        </nav>
    </header>